.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0%;
    background-color: #1D71F2;
    height: 200px;
    width: 100%;
    min-width: 100vmax;
    font-family: 'Titan One', cursive;
}


.headerLogo {
    flex-grow: 1;
    margin-left: 50px;
}

#headerImage {
    width: 300px;
    height: 190px;
}

.headerName {
    flex-grow: 1;
    padding-right: 35px;
}

.headerStateList {
    margin-right: 50px;
    padding-top: 31px;
}

.search {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    margin-left: 45px;
}